setuptools<81
conformer==0.3.2
diffusers==0.29.0
gradio==5.44.1
librosa==0.11.0
numpy==1.25.2
omegaconf==2.3.0
pykakasi==2.3.0
pyloudnorm==0.2.0
resemble-perth==1.0.1
s3tokenizer==0.3.0
safetensors==0.5.3
soundfile==0.13.1
spacy-pkuseg==1.0.1
transformers==4.46.3
